<div class="age-modal" id="ageModal">
    <div class="age-modal__content">
        <div class="title-container">
            <h2>18+ Only</h2>
            <picture>
                <source srcset="
                            /img/title/desk.png  1x,
                            /img/title/desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
                <source srcset="
                            /img/title/mob.png  1x,
                            /img/title/mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
                <img src="/img/title/mob.png" alt="line" loading="lazy" />
            </picture>
        </div>

        <p>
            THIS GAME IS FOR ADULTS 18+.<br>
            IT'S A SOCIAL GAME FOR FUN, NO REAL MONEY INVOLVED.
        </p>

        <div class="age-modal__buttons">
            <button id="enterBtn">ENTER</button>
            <button id="exitBtn">EXIT</button>
        </div>
    </div>
</div>