<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">X-Demon</h1>
        <div class="home-wrapper">
        <picture>
            <source srcset="
            /img/home/logo-desk.png  1x,
            /img/home/logo-desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/home/logo-mob.png  1x,
            /img/home/logo-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/home/logo-mob.png" alt="X-Demon Logo" loading="lazy" />
        </picture>
        <div class="home-text-wrapper">
            <p>You're staring down this creepy portal, and honestly? Someone's gotta hold the line.</p>
            <p>An ancient altar has opened a passage to a darker dimension. Stone guardians stand between the world and the forces
            beyond. In X-Demon, the player steps into a tense fantasy setting where every action feels like part of a larger battle.</p>
            <p>From the get-go, there's this oppressive vibe that just hits you. It's like something ancient and nasty is watching from
            every shadow, and the graphics don't let you forget it for a second.</p>
        </div>
        <a class="hero-btn pulse" href="#demo">
            <p>Play on This Page</p>
        </a>
        </div>
    </div>
</section>
<section class="welcome-section" id="welcome">
    <div class="container welcome-container">
        <h2>Welcome to the Demon Protocol</h2>
        <div class="welcome-text-wrapper">
            <p>pixelnote.space IS A PLATFORM FOR HAVING FUN.<br/>
            THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF REAL-LIFE RESULTS.<br class="desk"/> GAME IS INTENDED FOR
            ADULT AUDIENCES OVER<br class="mob"/>
            18 YEARS OF AGE.</p>
            <p>ENJOY THE EXPERIENCE.</p>
        </div>
    </div>
</section>